@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// vue transitions

.fade-enter-active,
.fade-leave-active {
  transition: $transitionSnappy;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: $transitionSnappy;
}

.slide-left-enter,
.slide-left-leave-to {
  opacity: 0.5;
  transform: translateX(-100vw);
}

.slide-left-enter-to,
.slide-left-leave {
  transform: translateX(0);
}
