body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  cursor: default;
  font-family: 'Lato', sans-serif;
  margin: 0;
  user-select: none;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.Container {
  padding: 0 5vw;
}

.Drawer-heading {
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  padding-top: 2.8vw;
  text-align: center;
}

.Icon-group {
  align-items: center;
  display: flex;
  justify-content: center;
}

.Icon-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 5.5vw;
  height: 5.5vw;
}

.Icon-wrapper--double--right {
  padding: 5vw 5vw 5vw 2.5vw;
}

.Icon-wrapper--double--left {
  padding: 5vw 2.5vw 5vw 5vw;
}

.Icon-wrapper--single {
  padding: 5vw;
}

.Icon {
  -webkit-app-region: no-drag;
}

.TextButton {
  color: var(--color-foreground-darker);
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  margin-top: 3.3vw;
  transition: $transitionDefault;
  &:hover {
    color: var(--color-accent);
  }
}
