body {
  color: $colorWhite;
  cursor: default;
  font-family: 'Lato', sans-serif;
  margin: 0;
  user-select: none;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.Container {
  padding: 0 18px;
}

.Drawer-heading {
  font-size: 14px;
  letter-spacing: 0.05rem;
  padding-top: 10px;
  text-align: center;
}

.Icon-group {
  align-items: center;
  display: flex;
  justify-content: center;
}

.Icon-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.Icon-wrapper--double--right {
  padding: 18px 18px 18px 9px;
}

.Icon-wrapper--double--left {
  padding: 18px 9px 18px 18px;
}

.Icon-wrapper--single {
  padding: 18px;
}

.Icon {
  -webkit-app-region: no-drag;
}

.TextButton {
  color: $colorBlueGrey;
  font-size: 14px;
  letter-spacing: 0.05em;
  margin-top: 12px;
  transition: $transitionDefault;
  &:hover {
    color: $colorRed;
  }
}
