@font-face {
  font-family: 'Lato';
  src: url(~@/assets/fonts/Lato-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'RobotoMono';
  src: url(~@/assets/fonts/RobotoMono-Light.ttf);
  font-weight: 200;
}

$colorBlue: #0bbddb;
$colorBlueGrey: #858c99;
$colorGreen: #05ec8c;
$colorLightNavy: #3d4457;
$colorNavy: #2f384b;
$colorRed: #ff4e4d;
$colorWhite: #f6f2eb;

$transitionDefault: all 0.3s ease;
$transitionSnappy: all 0.3s cubic-bezier(0.07, 0.95, 0, 1);
