@font-face {
  font-family: 'Lato';
  src: url(~@/assets/fonts/Lato-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'RobotoMono';
  src: url(~@/assets/fonts/RobotoMono-Light.ttf);
  font-weight: 200;
}

$colorBlue: #0BBDDB;
$colorBlueGrey: #858C99;
$colorGreen: #05EC8C;
$colorLightNavy: #3D4457;
$colorNavy: #2F384B;
$colorRed: #FF4E4D;
$colorWhite: #F6F2EB;